fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
pandas
requests
streamlit
langchain-core
langchain-community
langchain-huggingface
langchain-openai
langchain-text-splitters
faiss-cpu
sentence-transformers
